@use "./variable" as *;

.contact {
  display: block;
  background-color: $primary-color;
  color: $secondary-color;
  text-align: start;
  max-width: 100%;
  padding: 20px;

  .contact_info {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
  }

  .contact_button {
    text-decoration: none;
    display: block;
    justify-content: center;
    outline: solid lightgray;
    font-size: 20px;
    text-align: center;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 20px;
    margin: 40px 40px;

    &:hover {
      background-color: darken($primary-color, 30%);
    }
  }
}


@media screen and (min-width: 768px) {
  .contact {
    max-width: unset;
    padding: 40px 40px;

    .contact_info {
      font-size: unset;
      font-size: 90px;
      text-align: center;
    }

    .contact_button {
      width: 30%; 
      margin-left: 35%;
    }
  }
}


@media screen and (min-width: 1024px) {
  .contact {

    .contact_button {
      width: 15%; 
      margin-left: 43%;
    }
  }
}