@use "./variable" as *;

footer {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  width: 100%;

  .icon_github,
  .icon_linkedin,
  .icon_cv {
    display: inline-block;
    margin: 15px 0;
    width: 42px;
    height: 42px;
  }
}
