@use "./variable" as *;

.portfolio {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: start;
  padding-top: 40px;
  padding: 20px;

  .portfolio_title {
    font-size: 30px;
    margin: 30px 0;
  }

  .project_boxes {
    .hidden_portfolio {
      display: none;
    }
    .portfolio-project {
      .portfolio_box {
        padding: 20px;
        height: 250px;
        background-color: $secondary-color;
      }

      .project_grid {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        height: 10vh;

        .project-number {
          font-size: 30px;
          // font-family: ;
        }

        .icon_grid {
          display: flex-end;
          font-size: $icon-medium;
        }
      }
    }
  }
}



@media screen and (min-width: 768px) {
  .portfolio {
    padding: 40px 40px;
    
    .project_boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;

      .portfolio-project {
        width: 335px;

        .project_grid {
          height: 5vh;
        }
      }

      .hidden_portfolio {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    
    .project_boxes {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr, 1fr;
      gap: 14px;

      .portfolio-project {
        width: 300px;
      }

    }
  }
}

@media screen and (min-width: 1440px) {
  .portfolio {
    .project_boxes {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(auto, 1fr);
      gap: 14px;

      .portfolio-project {
        width: 420px;
      }
    }
  }
}
