@use "./variable" as *;

.profile {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 20px;
  margin: 30px 0;
  padding: 20px;

  .profile_about {
    padding-bottom: 40px;
    font-size: 35px;
  }


  .profile_body {

    .profile_image {
      width: 100%;
      object-fit: contain;
      padding: 20px 0;
    }

    .profile_info {
      margin: 30px 0;
    }
  }
}


@media screen and (min-width: 768px) {
  .profile {
    gap: 100px;
    padding: 60px 40px 50px 40px;
    margin: unset;

    .profile_body {
      display: flex;
      align-items: center;
    }

    .profile_image {
      height: 500px;
      padding: unset;
      order: 2;
    }

    .profile_info {
      order: 1;
      padding-right: 45px;
      font-size: 17px;
    }
  }
}



@media screen and (min-width: 1024px) {
  .profile {

    .profile_info {
      font-size: 25px;
    }
  }
}  