@use "./variable" as *;

.skills {
  display: none;
}

@media screen and (min-width: 768px) {
  .skills {
    display: unset;
    padding: 40px 40px; 

    .skills_icon {
      display: flex;
      justify-content: center;
      padding: 60px 20px 20px 20px;
      gap: 20px;
      // color: $quaternary-color; // how do i change color of icon 

      .icon {
        width: 55px;
        height: 55px;
      }
    }

    .skills_block {
      color: $secondary-color;
      display: block;
      padding: 0 40px;
    }

    .skills_title {
      font-size: 30px;
      padding: 20px 0;
    }
  }
}
