.profile {
  background-color: white;
  color: black;
  font-size: 20px;
  margin: 30px 0;
}
.profile .profile_image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}
.profile .profile_info {
  margin: 30px 0;
}

@media screen and (min-width: 1024px) {
  .profile {
    display: flex;
    gap: 20px;
    padding: 30px;
  }
  .profile .profile_image {
    width: 450px;
    height: 300px;
  }
}
.portfolio {
  background-color: white;
  color: black;
  text-align: start;
}
.portfolio .portfolio_title {
  font-size: 30px;
  margin: 30px 0;
}
.portfolio .project_boxes .hidden_portfolio {
  display: none;
}
.portfolio .project_boxes .portfolio-project .portfolio_box {
  padding: 20px;
  height: 250px;
  background-color: black;
}
.portfolio .project_boxes .portfolio-project .project_grid {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 10vh;
}
.portfolio .project_boxes .portfolio-project .project_grid .project-number {
  font-size: 30px;
}
.portfolio .project_boxes .portfolio-project .project_grid .icon_grid {
  display: flex-end;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .portfolio .project_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
  .portfolio .project_boxes .portfolio-project {
    width: 350px;
  }
  .portfolio .project_boxes .hidden_portfolio {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 20px;
  }
  .portfolio .project_boxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 14px;
  }
  .portfolio .project_boxes .portfolio-project {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .portfolio .project_boxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
    gap: 14px;
  }
  .portfolio .project_boxes .portfolio-project {
    width: 420px;
  }
}
.contact {
  display: block;
  background-color: white;
  height: 40vh;
  color: black;
  text-align: start;
  max-width: 300px;
  margin: 30px 0;
}
.contact .contact_info {
  height: 20vh;
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
.contact .contact_button {
  text-decoration: none;
  display: block;
  justify-content: center;
  outline: solid lightgray;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px;
  margin: 40px 40px;
}
.contact .contact_button:hover {
  background-color: #cccccc;
}

.skills {
  display: none;
}

@media screen and (min-width: 768px) {
  .skills {
    display: unset;
    padding: 40px 0;
  }
  .skills .skills_icon {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  .skills .skills_icon .icon {
    width: 55px;
    height: 55px;
  }
  .skills .skills_block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 60px 0;
  }
  .skills .skills_title {
    font-size: 30px;
    padding: 20px 0;
  }
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
footer .icon_github,
footer .icon_linkedin,
footer .icon_cv {
  display: inline-block;
  margin: 15px 0;
  width: 42px;
  height: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit;
  font-size: 1.5rem;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .name {
  color: black;
  background-color: white;
  text-align: center;
  min-height: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
header .navigation {
  display: none;
}

.job-title {
  height: 25vh;
  color: black;
  font-size: 45px;
}

article {
  background-color: white;
  height: 25vh;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    max-width: unset;
    padding: 40px 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .name {
    text-align: unset;
    min-height: unset;
  }
  header .navigation {
    display: unset;
    padding-bottom: 50px;
  }
  nav {
    display: inline;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-evenly;
    color: black;
  }
  nav ul li {
    display: inline-flex;
    list-style: none;
    margin-right: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  nav ul li a:hover {
    color: #3333ff;
  }
  .job-title {
    height: unset;
    text-align: center;
    padding: 40px;
    padding-bottom: 60px;
    font-size: 50px;
  }
  article {
    max-width: 50%;
    height: unset;
    padding-bottom: 60px;
  }
  .contact {
    max-width: unset;
    justify-content: center;
    height: unset;
  }
  .contact .contact_info {
    height: unset;
    font-size: unset;
    font-size: 90px;
    text-align: center;
  }
  .contact .contact_button {
    width: 85%;
  }
}/*# sourceMappingURL=style.css.map */