@use "./variable" as *;
@use "./profile";
@use "./portfolio";
@use "./contact";
@use "./skills";
@use "./footer";
@use "./header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit;
  font-size: 1.5rem;
  background-color: $primary-color;
  padding: 20px;
  // max-width: 320px;
}


.job-title {
  height: 25vh;
  color: $secondary-color;
  font-size: 45px;
}

article {
  background-color: $primary-color;
  height: 25vh;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    max-width: unset;
    padding: 40px 40px;
  }

  
  
  //     // try use grid area for above or you can add an image to html and hide it on mobile screeen
  //     // and then put h3 and info into a div container

  

  .job-title {
    height: unset;
    text-align: center;
    padding: 40px;
    padding-bottom: 60px;
    font-size: 50px;
    // font-family: Cor;
  }

  article {
    max-width: 50%;
    height: unset;
    padding-bottom: 60px;
  }

  
}
